<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>

  <link rel="stylesheet" href="css/bootstrap.min.css" />

</head>
<body ng-app="pokedex">

  <div class="container">
    <h1>Pokésir</h1>

    <!-- Search -->
    <div ng-controller="pokemonSearchController" data-ng-init="fetch()">
      <form name="userForm">
        <label>Id:
          <input type="number" name="userId"
          ng-model="pokemon.id"
          ng-model-options="{ getterSetter: true }" />
        </label><br />
        <label>Name:
          <input type="text" name="pokemonName"
          ng-model="pokemon.name"
          ng-model-options="{ getterSetter: true }">
        </input>
        </label>
      </form>
      <pre>pokemon.id = <span ng-bind="pokemon.id()"></span></pre>
      <select ng-model="pokemon.name" ng-model-options="{ getterSetter: true }">
         <option ng-repeat="pok in pokemon.list() | filter: searchFilter" title="{{pok}}" value="{{pok}}">{{pok}}</option>
      </select>
      <!-- <Button ng-click="$log.log(pokemon.name())" >GO</Button> -->
      </div>
      <!-- Pokémon information -->
      <div ng-controller="pokemonShowDetail">
        <!-- <Button ng-click="go()" >GO</Button><br /> -->
        <span>Id: <span ng-bind="detail.id()"></span></span>
        <span>Name: <span ng-bind="detail.name()"></span></span>
        <br />
        <table>
          <tr>
            <td>
              Name
            </td>
            <td>
              Learn Type
            </td>
          </tr>
          <tr ng-repeat="move in detail.moves()">
            <td>
              {{move.name}}
            </td>
            <td>
              {{move.learn_type}}
            </td>
          </tr>
        </table>

      </div>



    <!-- Dependencies -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-resource.min.js"></script>

    <!-- Pokedex app -->
    <script src="js/pokedex.js"></script>


  </body>
  </html>
